#{extends 'Menuexterno.html' /}

<form action="/Externo/Principal" method="POST">
    <div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
            <div class="text fg-white span12 " data-role="input-control" style="justify-items:center; font-family: serif; margin-left: 40%">

                <image  style="margin-left:3.5rem; width: 70px" src='https://www.insak.com.co/aym_image/aym_ico/aym_ico_user.png'>
                <br>
                <label>Iniciar Sesion</label>
            </div>
        </div>
        <div class="panel-content bg-white">

            <div class="input-control text" data-role="input-control" style=" font-family: serif;">
                <label for='usuario' >Nombre de Usuario</label>
                <input id='usuario' type='text' placeholder="type text" autofocus  name='usuario'>
            </div>
            <br><br>
            <div class=" input-control password  " data-role="input-control" style="font-family: serif;">
                <label for='password'>Contraseña</label>
                <input id='password' type="password" placeholder="type password" autofocus  name='password' >
                <button class="btn-reveal" tabindex="-1" type="button"></button>
            </div>
            <div style="  margin: 1rem; margin-left: 40%;padding: 1rem; width:50%">
                <button class="bg-darkCyan fg-white fn-bolder btn-reveal primary" >INGRESAR</button>
            </div>

            #{if mensaje}
            <p class='fg-red' style="font-weight: bolder;font-family: serif;margin-left: 5rem;">${mensaje}</p>
            #{/if}
        </div>
    </div>
</form>


