#{extends 'Menuintro.html' /}

<div class="grid fluid" >
    <div class="row">

        <div class="span12 panel collapsed"  data-role="panel" >
            <div class="panel-header  bg-darkCyan fg-white fn-bolder " >
                Informacion Personal
            </div>
            <div class="panel-content   fn-bolder " >
                <div class="span3">Matricula</div>
                <div class="span3">Nombre</div>
                <div class="span3">Apellido Paterno</div>
                <div class="span3">Apellido Materno</div>
                <div class="row">
                    <div class="span3">${persona.matricula}</div>
                    <div class="span3">${persona.Persona.Nombre}</div>
                    <div class="span3">${persona.Persona.ApellidoPaterno}</div>
                    <div class="span3">${persona.Persona.ApellidoMaterno}</div>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="span12 panel " data-role="panel">
            <div class="panel-header bg-darkCyan fg-white fn-bolder" >
                Informacion Escolar
            </div>
            <div class="panel-content   fn-bolder" >
                <div class="span6">Grupo:  --></div>
                <div class="span6">${alumnos?.grupo?.Nombre}</div>
                <div class="row">
                    <div class="span6">Grado:  --></div>
                    <div class="span6">${alumnos?.grupo?.grado?.Nombre}</div>
                    <div class="row">
                        <div class="span6">Periodo: --></div>
                        <div class="span6">${alumnos?.grupo?.periodo?.Nombre}</div>
                        <div class="row">
                            <div class="span6">Carrera: --></div>
                            <div class="span6">${alumnos?.grupo?.Carrera?.Nombre}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="span12 panel "  data-role="panel" >
            <div class="panel-header bg-darkCyan fg-white fn-bolder" >
                Calificaciones

            </div>
            <div class="panel-content  fn-bolder" >
                <div class="accordion collapsed" data-role="accordion">
                    #{list halumnos, as: 'h'}
                    <div class="accordion-frame">
                        <a href="#" class="heading fg-white bg-cyan">${h.CabeceraCalificaciones()} </a>
                        <div class="content" >
                            <div class='row'>
                                <div  >Boleta de calificaciones</div>
                                <table class="display tablota display nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class='text-left' >Materias</th>
                                            <th class='text-left' >Mayo</th>
                                            <th class='text-left' >Junio</th>
                                            <th class='text-left'>Julio</th>
                                            <th class='text-left' >Agosto</th>
                                            <th class='text-left' >Proyecto Final</th>
                                            <th class='text-left' >Promedio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        #{list h.ObtenerHistorialesMateria(), as: 'hm'}
                                        <tr>
                                            <td class='right' >${hm?.Materia?.Nombre}</td>
                                            <td class='right'> ${hm.Obtenercalifa(1)!= 0 ? hm.Obtenercalifa(1) : "X"}</td>
                                            <td class='right' > ${hm.Obtenercalifa(2)!= 0 ? hm.Obtenercalifa(2) : "X"}</td>
                                            <td class='right' > ${hm.Obtenercalifa(3)!= 0 ? hm.Obtenercalifa(3) : "X"}</td>
                                            <td class='right' > ${hm.Obtenercalifa(4)!= 0 ? hm.Obtenercalifa(4) : "X"}</td>
                                            <td class='right' > ${hm.Obtenercalifa(5)!= 0 ? hm.Obtenercalifa(5) : "X"}</td>
                                            <td class='right' >${hm?.CalcularPromedio()}</td>
                                        </tr>
                                        #{/list}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6" class="right">Promedio General:</td>
                                            <td class="right">
                                                %{
                                                double totalPromedios = 0.0;
                                                int totalMaterias = h.ObtenerHistorialesMateria().size();
                                                }%
                                                #{list h.ObtenerHistorialesMateria(), as: 'hm'}
                                                %{
                                                double promedio = hm?.CalcularPromedio();
                                                totalPromedios += promedio;
                                                }%
                                                #{/list}
                                                ${totalPromedios / totalMaterias} <!-- Calcular el promedio general -->
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    #{/list}
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class="span12 panel"data-role="panel" >
            <div class="panel-header bg-darkCyan fg-white fn-bolder">
                Reinscribir
            </div>
            <div class="panel-content  fn-bolder" >

                <div class="span12 input-control select">
                    <label for="idcarrera">Carrera</label>
                    <select  id="idcarrera" onchange="traerperiodo()"  name='carrera' onchange="tabla()">

                        <option  value="0" >Selecciona la Carrera</option>
                        #{list carrera,as: 'C'}
                        <option value="${C.id}">${C.Nombre}</option>
                        #{/list}

                    </select>
                </div>


                <div class=" input-control select" id="Periodo">
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="span12 panel"data-role="panel" >
            <div class="panel-header bg-darkCyan fg-white fn-bolder" >
                Historial
            </div>
            <div class="panel-content   fn-bolder" >
                <table class="display tablota display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th class='text-left' >Periodo</th>
                            <th class='text-left' >Grupo</th>
                            <th class='text-left'>Carrera</th>
                            <th class='text-left' >Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        #{list halumnos, as: 'a'}
                        <tr>
                            <td class='right' >${a.Periodo?.Nombre}</td>

                            <td class='right' >${a.grupo?.Nombre}</td>

                            <td class='right'>${a.grupo?.Carrera?.Nombre}</td>

                            <td class='right' ><button id="halum" onclick="eliminar(${a.id})">Eliminar</button></td>
                        </tr>

                        #{/list}

                    </tbody>
                </table>
            </div>
        </div>
        <div id="campoborrado"></div>
    </div>
    <div class="panel"data-role="panel">
        <div class="panel-header bg-darkCyan fg-white">
            Asistencias
        </div>
        <div class="panel-content">
            <div class="accordion" data-role="accordion">
                #{list hmig,as: 'h'}
                <div class="accordion-frame">

                    <a href="#" class="heading bg-cyan fg-white">${h.Materia.Nombre}</a>

                    <div class="content">

                        <table  class="display tablota display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Tipo de asistencia</th>
                                    <th>Total de asistencias</th>
                                    <th>Total de retardos</th>
                                    <th>Total de faltas</th>

                                </tr>
                            </thead>
                            <tbody>
                                #{list h.obtenerasistencias(),as: 'a'}
                                <tr>
                                    <td>${a.Fecha}</td>
                                    <td>${a.Tipodeasistencia.Tipo}</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                #{/list}

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>${h.Cantidadasistencias(1)}</td>
                                    <td>${h.Cantidadasistencias(2)}</td>
                                    <td>${h.Cantidadasistencias(3)}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
                #{/list}
            </div>
        </div>
    </div>
</div>


</div>
<script>

    function traerperiodo() {
    var idcarrera = $("#idcarrera").val();
    $.get("/Escolares/Periodo", {
    "idcarrera": idcarrera,
            "p": "${p}"
    }
    , function (respuesta) {
    $("#Periodo").html(respuesta);
    });
    }
    function eliminar(ha) {

    $.get("/Escolares/borrarhalumno", {

    "halum": ha
    }
    , function (respuesta) {
    $("#campoborrado").html(respuesta);
    });
    }

    new DataTable('.tablota', {
    scrollX: true
    });

</script>

<style>
    td{
        display: fixed;
        border-collapse: collapse;
        border: 1px solid #ccc;
    }

    div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    }
</style>