#{extends 'Menuintro.html' /}
<div class="grid fluid">
    <div class="row">
        <div class="span12"><h1>Registro de Asistencias</h1></div>
        <br>
    </div>
    <div class="row">
        <div class="panel span12" data-role="panel">
            <div class="panel-header bg-cyan fg-white">
                Parametros
            </div>
            <div class="panel-content row">

                <div class="span6 input-control select">
                    <label for='periodo'>Hola profesor por favor elija El Periodo</label>
                    <select id='periodo' onchange="Grupomateria()">
                        <option value='0'>Selecciona el Periodo</option>
                        #{list periodos,as: 'p'}
                        <option value='${p.id}' >${p.Nombre}</option>
                        #{/list}
                    </select>
                </div>

                <div class="span6 input-control select "id="respuesta">
                </div>

            </div>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="panel span12" data-role="panel">
            <div class="panel-header bg-cyan fg-white">
                Lista de alumnos
            </div>
            <div class="panel-content row">
                <div id="resp" class='span12'>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function Grupomateria() {
        var periodos = $("#periodo").val();
        $.get("/Profesor/Grupomateria", {
            "periodos": periodos,
            "usuario": '${usuario}'
        }, function (respuesta) {
            $("#respuesta").html(respuesta);
        });
    }
</script>
