#{extends 'Menuintro.html' /}

<div class='grid fluid'>
    <div class='row'>
        <div class="panel span12">
            <div class="panel-header fg-white bg-darkCyan">
                Calificaciones
            </div>
            <div class="panel-content">
                <div class='row'>
                    <div class=" span6 input-control select">
                        <label for='periodo'>Periodo</label>
                        <select id='periodo' onchange="Obtenermateria()">
                            <option value='0'>Selecciona el Periodo</option>
                            #{list periodos,as: 'p'}
                            <option value='${p.id}' >${p.Nombre}</option>
                            #{/list}
                        </select>
                    </div>
                    <div class="row">
                        <div class="span12 input-control select "id="respuesta">
                        </div>
                    </div>
                    <script>
                        function Obtenermateria() {
                            var periodo = $("#periodo").val();
                            $.get("/Profesor/Obtenermateria", {
                                "periodo": periodo

                            }, function (respuesta) {
                                $("#respuesta").html(respuesta);
                            });
                        }
                    </script>
                </div>

            </div>
        </div>
    </div>
</div>
