
<div class="input-control text" data-role="datepicker" data-format='dd/mm/yyyy' data-locale='es' id="datepicker">
    <input type="text"  id='fecha1'>
    <button class="btn-date" ></button>
</div>

<script>

    $("#datepicker").datepicker({
        selected: function () {
            Tablaasistencias()
        }});

    function Tablaasistencias() {
        var fecha = $("#fecha1").val();
        $.get("/Profesor/Tablaasistencia", {
            "fecha": fecha,
            "hdocente": '${hdocente}'
        },
                function (respuesta) {
                    $("#resp").html(respuesta);
                    $("#aceptar").hide();
                });
        async: true;
    }

</script>