

<label for='materia'>Materia</label>
<select id='hdocente' onchange='traertabla()'>
    <option value='0'>Selecciona la Materia</option>
    #{list hdocente, as: 'hd'}

    <option value='${hd.id}'>${hd.materia?.Nombre}         ${hd.persona.Nombre} ${hd.persona.ApellidoPaterno} ${hd.persona.ApellidoMaterno}  ${hd.grupo.id} ${hd.grupo.Nombre}</option>
    #{/list}

</select>

<div class='row'>
    <div class="span12" id="resul"></div>
</div>
<script>

    function traertabla() {
        var hdocente = $("#hdocente").val();
        $.post("/Profesor/Tablacalificaciones", {

            "hdocente": hdocente,
            "periodo": "${periodo}"
        }, function (respuesta) {
            $("#resul").html(respuesta);
        });
    }
</script>
