<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">

        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="/public/javascripts/jquery.min.js"></script>
        <script src="/public/javascripts/jquery.widget.min.js"></script>
        <script src="/public/javascripts/metro.min.js"></script>
        <link href="/public/images/iconFont.css" rel="stylesheet">
        <link href="/public/images/metro-bootstrap-responsive.css" rel="stylesheet">
        <link  href="/public/images/metro-bootstrap.css" rel="stylesheet">
        <link href="@{'/public/images/fonts/iconFont.woff'}" rel="stylesheet">
        <link rel="stylesheet" href="@{'/public/images/fonts/metroSysIcons.woff'}">
        <link href="@{'/public/images/fonts/iconFont.ttf'}" rel="stylesheet">
        <link rel="stylesheet" href="@{'/public/images/fonts/metroSysIcons.ttf'}">
        #{get 'moreScripts' /}
        <style>
            .m {
                background-color: midnightblue;
                transition: background-color 0.3s ease !important;
            }

            .m:hover {
                background-color: DeepSkyBlue !important;
            }
        </style>
        <script>
            $(document).ready(function () {
                $(".item").hover(
                        function () {
                            $(this).addClass("bg-blue");
                        },
                        function () {
                            $(this).removeClass("bg-blue");
                        }
                );
            });

        </script>
    </head>

    <body metro>
        <div class="grid-flex " style="position: fixed;" style="left: 0px; margin-bottom: 30px; "
             style="top: 130px !important">
            <div class="row">
                <div class="span3 bg-blue fg-white fn-bolder " id ="sidebar" >
                    <nav class="sidebar dark bg-violete " >
                        <ul>
                            <li class="stick ">
                                <a class= "title dropdown-toggle">Menu</a>
                                <ul class="dropdown-menu bg-darkCobalt" data-role="dropdown">
                                    <li><a class="item" href="/Profesor/Calificaciones"><i class="icon-list"></i>Calificaciones</a></li>
                                    <li class="stick "><a class="item" href="#"><i class="icon-award-fill"></i>Asistencias</a></li>
                                    <li class="stick ">
                                        <a class="item" href="#"><i class="icon-stats-2"></i>Historial</a>
                                    </li>
                                    <li class="stick bg-green"><a class="item" href="#"><i Class="icon-coins"></i>Nomina</a></li>
                                </ul>
                            </li>
                            <li class="stick ">
                                <a class= "title dropdown-toggle">Externo</a>
                                <ul class="dropdown-menu bg-darkCobalt" data-role="dropdown">
                                    <li><a class="item" href="#"><i class=" icon-calendar"></i>Calendario</a></li>
                                    <li><a class="item" href="#"><i class="icon-puzzle"></i>Proyecta</a></li>
                                </ul>
                            </li>
                            <li class="stick ">
                                <a class="title dropdown-toggle">Extra</a>
                                <ul class="dropdown-menu bg-darkCobalt" data-role="dropdown">
                                    <li><a  class="item" href="#"><i class=" icon-bookmark-2"></i>Capacitaciones</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </body>
</html>
