
<div class="grid-fluid">
    <div class="row">



        <table id="example" class="table span12" style="width:100%">
            <thead>

                <tr>
                    <th  class="text-left sorting sorting_desc" tabindex="0" rowspan='1' colspan="1"style="border:1px solid black;" >
                        Nombre
                    </th>

                    <th class="text-left sorting_desc" rowspan='1' colspan="1" style="border:1px solid black;">
                        Asistencia
                    </th>
                    <th class="text-left sorting_desc" rowspan='1' colspan="1" style="border:1px solid black;">
                        Retardo
                    </th>
                    <th class="text-left sorting_desc" rowspan='1' colspan="1" style="border:1px solid black;">
                        Falta
                    </th>
                    <th class="text-left sorting_desc" rowspan='1' colspan="1" style="border:1px solid black;">
                        Justificante
                    </th>
                </tr>
            </thead>
            <tbody>
                #{list Hm, as: 'hm'}
                <tr>

                    <td id="Nombre" class="right " style="border:1px solid black;">
                        ${hm.Historialalumno.alumno.Persona.Nombre} ${hm.Historialalumno.alumno.Persona.ApellidoPaterno} ${hm.Historialalumno.alumno.Persona.ApellidoMaterno}
                    </td>
                    #{list ta, as: 't'}
                    <td  class="right " style="border:1px solid black;">
                        <div class="input-control radio" data-role="input-control">
                            <label>

                                <input id="Tipo${hm.id}${t.id}" type="radio" name="tipo${hm.id}" value="${t.id}"  #{if t.obtenertipo(Hd.id, hm.id, fecha)}checked #{/if} onchange="Guardar(${hm.id}, ${t.id})">
                                       <span class="check" ></span>
                                ${t.Tipo}

                            </label>
                        </div>
                    </td>
                    #{/list}

                    <td  class="right " style="border:1px solid black;">
                        <div class="input-control checkbox" id='esconder${hm.id}' #{if  !hm.obtenertipofalta(fecha)}style="display:none;" #{/if}>
                             <label>
                                <input id="Justif${hm.id}"  type="checkbox" id="justificado" name="justificacion" #{if hm.obtenerjustificacion(Hd.id, fecha)}checked #{/if}  onchange="Guardar(${hm.id}, ${t.id})">
                                       <span class="check"></span>
                                Justificar
                            </label>
                        </div>
                </tr>

                #{/list}
            </tbody>
        </table>
    </div>


</div>



<div id="guardar"></div>
<script> $(document).ready(function () {

        new DataTable('#example', {

        });
    });</script>
<script>
    function Guardar(Hm, tipo) {

        console.log(Hm);
        console.log(tipo);
        console.log("${fecha.format('dd/MM/yyyy')}");
        console.log("${Hd.id}");
        var falta = tipo;
        if (falta == 3) {
            $("#esconder" + Hm).show();
            console.log(tipo);
        } else {
            $("#esconder" + Hm).hide();
        }
        var just = $("#Justif" + Hm).prop("checked");
        console.log(just);
        if (just) {
            just = true;
            tipo = 1;
        } else {
            just = false;
        }

        $.get("/Profesor/Asistenciaguardada", {
            "just": just,
            "fecha": "${fecha.format('dd/MM/yyyy')}",
            "tipo": tipo,
            "hdocente": "${Hd.id}",
            "Hm": Hm
        }, function (data) {
            notify(data);
        });
    }
</script>