#{extends 'Menuintro.html' /}
<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body class="metro">
        <div class="grid-fluid">
            <div class="row">
                <div class="span12">
                    <div class="panel">
                        <div class="panel-header  icon-user-3 bg-orange">
                            Usuarios
                        </div>
                        <div class="panel-content">
                            <div class="span12 dataTables_scroll">
                                <div class="dataTables_scrollHead" style="overflow:hidden; position:relative; border: 0px; width:100%;">
                                    <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width:843.729px; padding-right: 16px;">
                                        <table id="example" class="display dataTable" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Usuario</th>
                                                    <th>Contraseña</th>
                                                    <th>N° Perfiles</th>
                                                    <th>Editar</th>
                                                    <th>Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                #{list allusers,as: 'us'}
                                                <tr id="${
                                                        us.id
                                                    }">
                                                    <td >${us?.Persona?.Nombre} ${us?.Persona?.ApellidoPaterno} ${us?.Persona?.ApellidoMaterno}</td>
                                                    <td>${us?.Nombreusuario}</td>
                                                    <td>${us?.Contraseña}</td>
                                                    <td>${us.Traerperfiles().size()}</td>
                                                    <td><button id="createFlatWindow" onclick='Editar(${us.id})'>Editar</button></td>
                                                    <td><button onclick='Eliminar(${us.id})'>Eliminar</button></td>
                                                </tr>
                                                #{/list}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Usuario</th>
                                                    <th>Contraseña</th>
                                                    <th>N° Perfiles</th>
                                                    <th>Editar</th>
                                                    <th>Eliminar</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var cerrarDialogo = false; // Variable para controlar si se cierra el diálogo
            $(document).ready(function() {
            $('#example').DataTable({
            paging: false,
                    scrollCollapse: true,
                    scrollY: '50vh'
            });
            });
            function Editar(id) {

            /* $.get("/Interno/Editar", {
             "acceso": acceso
             }, function(data) {
             $("input[name='nombre']").val(data.nombre);
             $("input[name='apaterno']").val(data.apaterno);
             $("input[name='amaterno']").val(data.amaterno);
             $("input[name='usuario']").val(data.usuario);
             $("input[name='password']").val(data.password);
             $("select[name='perfil']").val(data.perfil);*/
            // Abre el diálogo de edición cuando se completa la obtención de datos.
            AbrirDialogo("/Interno/Editar?usuario=" + id, id);
            //          });

            }
            // Función para abrir el diálogo de edición.
            function AbrirDialogo(ruta, id)
            {
            $.get(ruta, function(data) {
            $.Dialog({
            overlay: true,
                    shadow: true,
                    flat: true,
                    draggable: true,
                    icon: '',
                    title: 'Editar Usuario',
                    content: data,
                    padding: 10,
                    onShow: function(_dialog) {

                    $.Dialog.title("Editar");
                    }
            });
            $("input[name='nombre']").val(data.nombre);
            $("input[name='apaterno']").val(data.apaterno);
            $("input[name='amaterno']").val(data.amaterno);
            $("input[name='usuario']").val(data.usuario);
            $("input[name='password']").val(data.password);
            });
            }

            // Función para guardar los cambios en el servidor.


            function GuardarCambios(id) {
            // Obtén los valores del formulario.
            var nombre = $("input[name='nombre']").val().trim();
            var apaterno = $("input[name='apaterno']").val().trim();
            var amaterno = $("input[name='amaterno']").val().trim();
            var usuarioS = $("input[name='usuario']").val().trim();
            var password = $("input[name='password']").val().trim();
            // Verifica si los campos obligatorios están vacíos
            if (nombre === "" || apaterno === "" || amaterno === "" || usuarioS === "" || password === "") {
            alert("Por favor, completa todos los campos obligatorios.");
            cerrarDialogo = false; // No cierres el diálogo si hay campos vacíos
            return;
            }

            // Realiza una solicitud al servidor para guardar los cambios.
            $.post("/Interno/actualizardatos?usuario=" + id, {
            "nombre": nombre,
                    "apaterno": apaterno,
                    "amaterno": amaterno,
                    "usuarioS": usuarioS,
                    "password": password,
            }, function(data) {
            if (data.message) {
            // Actualiza la fila en la tabla con los nuevos datos si es necesario.
            ActualizarFilaEnTabla(usuarioS, nombre, apaterno, amaterno, password, usuario, perfil);
            if (cerrarDialogo) {
            // Cierra el diálogo solo si no hay campos vacíos
            $.Dialog.close();
            }
            } else if (data.error) {
            console.error(data.error);
            }
            });
            // Establece la variable para cerrar el diálogo en true
            cerrarDialogo = true;
            }


            // Función para actualizar la fila en la tabla.
            function ActualizarFilaEnTabla(usuarioS, nombre, apaterno, amaterno, password, usuario, perfil) {
            // Actualiza la fila con los nuevos datos.
            var fila = $("#" + id);
            fila.find("td:eq(0)").text(nombre + " " + apaterno + " " + amaterno);
            fila.find("td:eq(1)").text(usuarioS);
            fila.find("td:eq(2)").text(password);
            fila.find("td:eq(3)").text(perfil);
            }

            function Eliminar(id) {
            var usuario = id;
            var confirmar = window.confirm("¿Estás seguro de que deseas eliminar este Usuario?");
            if (confirmar) {
            $.get("/Interno/Eliminar", {
            "usuario": usuario
            }, function(data) {
            console.log(data);
            if (data == "success") {

            $("#" + id).fadeOut(); // Oculta la fila con efecto fadeout
            } else   {
            console.error(data);
            }
            });
            }
            }
        </script>
    </body>
</html>
