<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">

        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="/public/javascripts/jquery.min.js"></script>
        <script src="/public/javascripts/jquery.widget.min.js"></script>
        <script src="/public/javascripts/metro.min.js"></script>
    
   
        #{get 'moreScripts' /}
        
        <style>
            .m {
                background-color: midnightblue;
                transition: background-color 0.3s ease !important;
            }

            .m:hover {
                background-color: DeepSkyBlue !important;
            }
        </style>
        <script>
            $(document).ready(function () {
                $(".item").hover(
                        function () {
                            $(this).addClass("bg-blue");
                        },
                        function () {
                            $(this).removeClass("bg-blue");
                        }
                );
            });

        </script>
    </head>

    <body metro>
        <div class="grid-flex " style="position: fixed;" style="left: 0px; margin-bottom: 30px; "
             style="top: 130px !important">
            <div class="row">
                <div class="span3 bg-blue fg-white fn-bolder " id ="sidebar" >
                    <nav class="sidebar dark bg-violete " >
                        <ul>
                            <li class="stick ">
                                <a class= "title dropdown-toggle">Profesores</a>
                                <ul class="dropdown-menu bg-darkCobalt" data-role="dropdown">
                                    #{list menu, as: 'm'}
                                    #{if m.Perfil.id == 2L}
                                    <li><a  href="${m.Ruta}"><i class="${
                                                                    m.Icono
                                                                }"></i>${m.Elmento}</a></li>
                                    #{/if}
                                    #{/list}

                                </ul>
                            </li>
                            <li class="stick ">
                                <a class= "title dropdown-toggle">Alumnos</a>
                                <ul class="dropdown-menu bg-darkCobalt" data-role="dropdown">
                                    #{list menu, as: 'ma'}
                                    #{if ma.Perfil.id == 1L}
                                    <li><a  href="${ma.Ruta}"><i class="${
                                                                     ma.Icono
                                                                 }"></i>${ma.Elmento}</a></li>
                                    #{/if}
                                    #{/list}
                                </ul>
                            </li>
                            <li class="stick ">
                                <a class="title dropdown-toggle">Administrar</a>
                                <ul class="dropdown-menu bg-darkCobalt" data-role="dropdown">
                                    #{list menu, as: 'mal'}
                                    #{if mal.Perfil.id == 3L}
                                    <li><a  href="${mal.Ruta}"><i class="${
                                                                      mal.Icono
                                                                  }"></i>${mal.Elmento}</a></li>
                                    #{/if}
                                    #{/list}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
