
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Mandar inscripcion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>div.container {
                width: 80%;
            }</style>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="/public/javascripts/jquery.min.js"></script>
        <script src="/public/javascripts/jquery.widget.min.js"></script>
        <script src="/public/javascripts/metro.min.js"></script>
        <link href="/public/images/iconFont.css" rel="stylesheet">
        <link href="/public/images/metro-bootstrap-responsive.css" rel="stylesheet">
        <link  href="/public/images/metro-bootstrap.css" rel="stylesheet">
        <link href="@{'/public/images/fonts/iconFont.woff'}" rel="stylesheet">
        <link rel="stylesheet" href="@{'/public/images/fonts/metroSysIcons.woff'}">
        <link href="@{'/public/images/fonts/iconFont.ttf'}" rel="stylesheet">
        <link rel="stylesheet" href="@{'/public/images/fonts/metroSysIcons.ttf'}">
    </head>
    <body metro>
        <div class="grid">
            <div class="row">
                <div class="span6 input-control select">

                    <label>Periodo</label>

                    <select  id="periodo"   name='periodo' onchange='grupoperiodo()'>
                        <option value="0">Selecciona el periodo</option>
                        #{list gperiodo, as: 'p'}
                        <option value="${p.id}">${p.Nombre}</option>
                        #{/list}
                    </select>
                    <div id="selectgrupo">

                    </div>
                </div>
                <script>
                    function grupoperiodo() {
                        var grupoperiodo = $("#periodo").val();
                        $.get("/Application/grupoperiodo", {"periodo": grupoperiodo,
                            "aspirante": "${aspirante}",
                            "idcarrera": "${idcarrera}"
                        }, function (respuesta) {
                            $("#selectgrupo").html(respuesta);
                        });
                    }
                </script>

            </div>
        </div>
    </div>
</body>
</html>
