
<div class="span6 input-control select">

    <label>Grupo</label>

    <select id="grupo">

        <option>Seleccionar</option>
        #{list grupo, as: 'gp'}
        <option value="${gp.id}">${gp.Nombre}</option>
        #{/list}
    </select>

    <button id="inscribir" onclick="inscribir()" class="button fg-white bg-darkBlue place-right" type="button" >Inscribir</button>
</div>
<div id="resul">  </div>
<script>
    function inscribir() {
        var grupo = $("#grupo").val();
        $.get("/Escolares/Generarinscripcion", {
            "grupo": grupo,
            "aspirante": "${aspirante}"
        }, function (respuesta) {
            $("#resul").html(respuesta);
        });
    }
</script>
