#{extends 'Menuintro.html' /}
<div class="grid fluid">
    <div class="row">
        <div class="span12"><h1>Inscribir</h1></div>
        <br>
    </div>
    <div class="row">

        <div class="span12 input-control select">

            <label>Carreras</label>
            <select  id="idcarrera"   name='carrera' onchange="tabla()">
                <option value="0">Selecciona la Carrera</option>
                #{list carrera,as: 'C'}
                <option value="${C.id}">${C.Nombre}</option>
                #{/list}

            </select>

        </div>

    </div>

    <div class="row">
        <div class="span12" id="aspirant">
        </div>
    </div>
</div>
<script>
    function tabla() {
        var idcarrera = $("#idcarrera").val();
        $.get("/Escolares/Tablaaspirantes", {
            "idcarrera": idcarrera
        }
        , function (respuesta) {
            $("#aspirant").html(respuesta);
        });
    }
</script>