
<div class="span6 input-control select">
    <label for="periodo">Periodo</label>
    <select  id="periodo"   name='periodo' onchange='gruporeinscripcion()'>
        <option value="0">Selecciona el periodo</option>
        #{list periodo, as: 'pe'}
        <option value="${pe.id}">${pe.Nombre}</option>
        #{/list}
    </select>
    <div class=" input-control select" id="selectgrupo">
    </div>
</div>

<script>
    function gruporeinscripcion() {
        var periodo = $("#periodo").val();
        $.get("/Escolares/gruporeinscripcion", {
            "periodo": periodo,
            "p": "${p}",
            "idcarrera": "${idcarrera}"
        }, function (respuesta) {
            $("#selectgrupo").html(respuesta);
        });
    }
</script>

