<script>
 $(document).ready(function() {
    new DataTable('#tablaaspirante', {
    scrollX: true
    });
    });
</script>
<table id="tablaaspirante" class="display" style="width:100%">
    <thead>
        <tr>
            <th  class= "text-left sorting sorting_desc" tabindex="0" rowspan='1' colspan="1"   >
                Nombre
            </th>
            <th class="text-left sorting_desc" rowspan='1' colspan="1">
                Apellido Paterno
            </th>
            <th class="text-left sorting_desc" rowspan='1' colspan="1">
                Apellido Materno
            </th>
            <th class="text-left sorting_desc" rowspan='1' colspan="1">
                Inscribir
            </th>
        </tr>
    </thead>
    <tbody class="striped">
        #{list tablaaspirante, as: 't'}
        <tr class="odd">
            <td id="Nombre" class="right sorting_1 " style="border:1px solid black;" >
                ${t.persona.Nombre}
            </td>
            <td id="apaterno"  class="right sorting_1" style="border:1px solid black;">
                ${t.persona.ApellidoPaterno}
            </td>
            <td id="amaterno"  class="right sorting_1" style="border:1px solid black;">
                ${t.persona.ApellidoMaterno}</font>
            </td>
            <td class="right     sorting_1" style="border:1px solid black;">
                <button class="button fg-white bg-darkBlue place-right" onclick="mandar(${t.id})" name="alumno">Inscribir</button>      
        <tr>
            #{/list}
    </tbody>
</table>
<div id="resul">
</div>
<script>
    function mandar(aspirante) {
    console.log("${idcarrera}");
    $.post("/Escolares/Mandarinscripcion", {
    "idcarrera": "${idcarrera}",
            "aspirante": aspirante
    }, function (respuesta) {
    $("#resul").html(respuesta);
    });
    }
</script>
