
<div class='grid'>
    <div class='row'>
        <table id="tablabusqueda" class="display" style="width:100%">
            <thead>
                <tr>
                    <th class='text-left' style='display: fixed; border-collapse:collapse; border:1px solid #ccc;'>Matricula</th>
                    <th class='text-left' style='display: fixed; border-collapse:collapse; border:1px solid #ccc;'>Nombre</th>
                    <th class='text-left' style='display: fixed; border-collapse:collapse; border:1px solid #ccc;'>Apellido Paterno</th>
                    <th class='text-left' style='display: fixed; border-collapse:collapse; border:1px solid #ccc;'>Epellido Materno</th>
                    <th class='text-left' style='display: fixed; border-collapse:collapse; border:1px solid #ccc;'>Expediente</th>

                </tr>
            </thead>
            <tbody>
                #{list persona,as: 'p'}
                <tr>
                    <td class='right'style='display: fixed; border-collapse:collapse; border:1px solid #ccc;'>${p.matricula}</td>
                    <td class='right'style='display: fixed; border-collapse:collapse; border:1px solid #ccc;'>${p.Persona.Nombre}</td>
                    <td class='right'style='display: fixed; border-collapse:collapse; border:1px solid #ccc;'>${p.Persona.ApellidoPaterno}</td>
                    <td class='right'style='display: fixed; border-collapse:collapse; border:1px solid #ccc;'>${p.Persona.ApellidoMaterno}</td>
                    <td class='text-left'style='display: fixed; border-collapse:collapse; border:1px solid #ccc;'> <a href="/Escolares/Expediente?p=${p.id}">Expediente</a> </td>
                </tr>
                #{/list}
            </tbody>
        </table>
    </div>
</div>
<script>
    new DataTable('#tablabusqueda', {
        scrollX: true
    });
</script>